.viewport {
  @include pos(f, 0 0 0 0);
  overflow: auto;
  background-color: $viewport-bg;
  text-align: center;
  margin: 0 auto;

  .content-column {
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
  }

  .spinner-container {
    font-size: 50px;
    color: $post-text-color;
    @include pos(f, 0 0 0 0);
    .fa {
      vertical-align: middle;
    }
  }

  .post {
    background-color: initial;
    margin-bottom: 10px;
    display: block;
    outline: none;
    padding: 0;
    border: 0;

    img {
      box-sizing: border-box;
      max-width: 100%;
      display: block;
      cursor: pointer;
    }

    .img-clip {
      img {
        height: 100%;
        max-width: none;
      }
    }

    .post-text {
      border-radius: 0 0 5px 5px;
      background-color: rgba(0,0,0,0);
      padding: $post-text-padding;
      margin: 0;

      max-height: 0;
      color: rgba(0,0,0,0);
      margin-top: -2 * $post-text-padding;

      transition: color $transition-speed $transition-mode $transition-delay,
                 margin $transition-speed $transition-mode $transition-delay,
             max-height $transition-speed $transition-mode $transition-delay,
       background-color $transition-speed $transition-mode $transition-delay;

                      ;
    }

    &:hover, &:focus {
      .post-text {
        max-height: 500px;
        background-color: $post-text-bg;
        color: $post-text-color;
        margin: 0;
      }
    }
  }
}
